@{
    /**/

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/template.cshtml";
}


@using Model;

<script>
    $(document).ready(function () {
        var inst =@ViewData["reserva"];
        console.log(inst);


    });
</script>



<div class="btn-box-row row-fluid">
    <a href="#" class="btn-box big span4">
        <i class=" icon-home"></i><b>@ViewBag.reservsem</b>
        <p class="text-muted">
            Chambres réservées
        </p>
    </a><a href="#" class="btn-box big span4">
        <i class="icon-user"></i><b>@ViewBag.client</b>
        <p class="text-muted">
            Clients
        </p>
    </a><a href="#" class="btn-box big span4" id="money">
        <i class="icon-money"></i><b>@ViewBag.money <small>DT</small> </b>
        <p class="text-muted">
            Dépenses total

        </p>
    </a>
</div>

<div class="btn-box-row row-fluid" hidden="hidden" id="moneydetails">

    <a href="#" class="btn-box medium span2 pull-right">
        <i class="icon-money" style="color:forestgreen"></i><b>@ViewBag.credit <small>dt</small></b>
        <p class="text-muted">
            Crédit
        </p>
    </a>

    <a href="#" class="btn-box medium span2 pull-right">
        <i class="icon-money" style="color:forestgreen"></i><b>@ViewBag.cheque <small>dt</small></b>
        <p class="text-muted">
            Chèques
        </p>
    </a>

    <a href="#" class="btn-box medium span2 pull-right">
        <i class="icon-money" style="color:forestgreen"></i><b>@ViewBag.espece <small>dt</small></b>
        <p class="text-muted">
            Espèce
        </p>
    </a>
</div>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="span4 align-center ">
        <b>De </b> @Html.TextBox("dt1", "", new { @type = "date", @class = "controls datepicker span8 " })<br />
    </div>
    <div class="span4 align-center ">

        <b> Jusqu'a</b> @Html.TextBox("dt2", "", new { @type = "date", @class = "controls datepicker span8 " })
    </div>
    <div class="span4 align-center">

        <button type="submit" class="btn btn-outline-success">Valider</button>
    </div>
}
<hr />
<h3 class="align-center" style="color:#29b7d3">Les dernièrs révenus</h3>

<table class="table table-striped">
    <tr>
        <th>
            <center>Devise</center>
        </th>
        <th>
            <center> Montant</center>
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in (List<Revenu>)ViewData["reserva"])
    {
        <tr>
            <td>
                <center> @item.devise</center>
            </td>
            <td>
                <center>@item.montant </center>
            </td>

        </tr>
    }
</table>
<br /><br />
<hr />
<h3 class="align-center" style="color:#29b7d3">Etat des chambres</h3>

@{

    var list = ViewBag.listcmbr;
    var icon = "icon-check-empty";
}
@for (int j = 0; j <= 5; j++)
{<div class="btn-box-row row-fluid">
        @for (int i = (j * 5) +1; i <= 5 * (j + 1); i++)
        {
            if (i >26) { break; }
            if (list.Contains(i))
            {
                icon = "icon-check";
            }
            else
            {
                icon = "icon-check-empty";
            }
            <a href="#" class="btn-box small span2">
                <i class="@icon"></i>
                <b>Chambre N° @i</b>
            </a>
        }

    </div>
}




<script src="https://code.jquery.com/jquery.min.js"></script>

<script>
    $('#money').click(function () {
        $('#moneydetails').slideToggle(350);
    });

</script>