@{
    /**/

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/template.cshtml";
}


<div class="btn-box-row row-fluid">
    <a href="#" class="btn-box big span4">
        <i class=" icon-home"></i><b>@ViewBag.reservsem</b>
        <p class="text-muted">
            Chambres réservées
        </p>
    </a><a href="#" class="btn-box big span4">
        <i class="icon-user"></i><b>@ViewBag.client</b>
        <p class="text-muted">
            Clients
        </p>
    </a><a href="#" class="btn-box big span4">
        <i class="icon-money"></i><b>@ViewBag.money <small>DT</small> </b>
        <p class="text-muted">
            revenu total

        </p>
    </a>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="span4 align-center ">
        <b>De </b> @Html.TextBox("dt1", "", new { @type = "date", @class = "controls datepicker span8 " })<br />
    </div>
    <div class="span4 align-center ">

        <b> Jusqu'a</b> @Html.TextBox("dt2", "", new { @type = "date", @class = "controls datepicker span8 " })
    </div>
    <div class="span4 align-center">

        <button type="submit" class="btn btn-outline-success">Valider</button>
    </div>
}
<hr />
<h3 class="align-center" style="color:#29b7d3">Les dernièrs dèpenses</h3>

<table class="table table-striped">
    <tr>
        <th>
            <center>Motif</center>
        </th>
        <th>
            <center> Montant</center>
        </th>
        <th>
            <center> Description</center>
        </th>

    </tr>

    @foreach (var item in (List<Hotel.Models.Depenses>)ViewData["lastdep"])
    {
        <tr>
            <td>
                <center>  @Html.DisplayFor(modelItem => item.motif)</center>
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => item.montant) <small>Dt</small></center>
            </td>
            <td>
                <center> @Html.DisplayFor(modelItem => item.description)</center>
            </td>
        </tr>

    }
</table>
<br /><br />
<hr />
<h3 class="align-center" style="color:#29b7d3">Etat des chambres</h3>

@Html.Action("etatChambres", "Home")