@model Hotel.Models.Depenses

@{
    Layout = "~/Views/Shared/template.cshtml";
}



@using (Html.BeginForm("addDep", "Dep", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    @Html.AntiForgeryToken()

    <h4>Depenses</h4>
    <hr />
    <div class="sub-entry">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
        <div class="control-group">
            <label class="control-label ">Titre </label>
            <div class="controls">
                @Html.EditorFor(model => model.motif, new { htmlAttributes = new { @class = "span4" } })
                @Html.ValidationMessageFor(model => model.motif, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <label class="control-label ">Montant </label>
            <div class="controls">
                @Html.EditorFor(model => model.montant, new { htmlAttributes = new { @class = "span4" } }) DT
                @Html.ValidationMessageFor(model => model.montant, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="control-group">
            <label class="control-label ">Description</label>
            <div class="controls">
                @Html.TextAreaFor(model => model.description, new { @class = "span8", @rows = 5 })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <label class="control-label ">Méthode de paiement</label>

            <div class="controls">

                @Html.RadioButtonFor(model => model.pmethod, "Espece") Espece


                @Html.RadioButtonFor(model => model.pmethod, "Espece") Chèque


                @Html.RadioButtonFor(model => model.pmethod, "Espece") Crédit

            
            </div>
        </div>


        <br /><br />
    </div>
    <center>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <button href="@Url.Action("allDep","Dep")" class="btn btn-warning">Annuler</button>

    </center>}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
