@model IEnumerable<Hotel.Models.Depenses>

@{
    Layout = "~/Views/Shared/template.cshtml";
}

<h2 class="align-center">Dépenses</h2>
<a href="@Url.Action("addDep","Dep")" class="btn btn-primary pull-right ">Ajouter une dépense</a>
<br /><br />

<table class="table table-striped table-bordered table-condensed">
    <tr>

        <th>
Motif
        </th>
        <th>
Montant 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.motif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montant)  dt
            </td>
            <td>
                <a class="open-homeEvents" href="#" data-toggle="modal" data-target="#exampleModal" data-id="@item.id">
                    <i class="fa fa-history fa-fw"></i>Détailles
                </a> |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Détailles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

               
               <span id="content"></span>
                <br />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>




<script>
   

    $(document).ready(function () {

        $(document).on('click', ".open-homeEvents", function () {
            var depid = $(this).data('id');
            $('#iddep').val(depid);
            $.ajax({
                url: "/Dep/Detaildep/" + depid,
                type: 'GET',
                dataType: 'json', // added data type
                success: function (data) {
                    console.log(data);

                    var text = "<b>Motif</b> : " + data.motif + "<br/><b>Montant</b> : " + data.montant + "&nbsp;dt<br/><b>Description</b> : " + data.description + "<br/><b>Méthode de paiement</b> : "
                        + data.pmethod + "<br/><b>Date</b> : " + data.datedep;

                    $('#content').html(text);

                }
            });
        });


    });




</script>