@model Hotel.Models.Reservation

@{
    ViewBag.Title = "Facture";
    Layout = null;
}
<head>
    <link type="text/css" href="~/Content/code/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/code/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
    <h1>&nbsp;Erriadh Hotel Djerba</h1>
    <br /><br />
    <center class="justify-content-center">
        <h2>Facture N°@Model.id</h2>
    </center>
    <br /><br />

          <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;Nom et Prénom : </b><span>@Model.Clients.FirstOrDefault().nomC</span></p>
    <br />
          <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;N° Chambre : </b> @Model.chambre</p>
    <br />     
    <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;Type Chambre : </b>@Model.type</p>
    <br />     
    <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;Date du réservation : </b>de @Model.Arrivee.ToString("dd/MM/yyyy") à @Model.dft.ToString("dd/MM/yyyy")</p>
    <br />
          <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;Montant payé : </b>@Model.montant</p>
    <br />      
    <p style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;Payé @(@Model.methpaie == "Espece" ? " en" : "par") : </b>@Model.methpaie  </p>
    <br /><br />
    <div class="span8 " style="margin-left:1000px">
        <p style="font-size:20px"><b>Djerba, le @DateTime.Today.Date.ToString("dd/MM/yyyy")</b></p>
    </div>
</body>