@model Hotel.Models.Reservation

@{
    ViewBag.Title = "Facture";
    Layout = null;
}
<head>
    <link type="text/css" href="~/Content/code/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/code/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="span8">
            <h1>&nbsp;HOTEL DJERBA ERRIADH</h1>
        </div>
        <div class="span6">
            <h1 class="pull-right" style="opacity:0.4">FACTURE</h1>    <br /><br />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="span8" style="margin-left:50px">
            <span ><b>Rue Mohamed el ferjeni houmet essouk, djerba tunisie<br />DJERBA 4180<br />Tel : 00216 75 65 07 50 Fax : 00216 75 65 16 91<br />Email : hotel.erriadh@Topnet.tn</b></span>        </div>
        <div class="span6">
            <span class="pull-right" style="font-size:16px"><b>FACTURE : </b>&nbsp;&nbsp;&nbsp;@Model.id<br /><b>DATE :</b> &nbsp;&nbsp;&nbsp;@DateTime.Today.Date.ToString("dd/MM/yyyy")</span>    <br /><br />
        </div>
    </div>
    <br /><br /><br />
    <div style="margin-left:20px">
        <h3>FACTURE </h3>
    </div>
    <br /><br />

          <table class='table table-striped' style='border:solid 2px'>
              <tr >
                  
                  <th>Description</th>
                  <th style='width:500px'>Montant</th>
              </tr>
              <tr style='height:400px'>
                  <td style='border:solid 1px'>Chambre @Model.type de @Model.Arrivee.ToString('dd/MM/yyyy') au @Model.dft.ToString('dd/MM/yyyy')</td>
              <td style='border:solid 1px'>@Model.montantpn</td>
              </tr>
              <tr>
                  <td style='border:solid 1px'>TVA </td>
                  <td style='border:solid 1px'>14.00</td>
              </tr>
              <tr>
                  <td class='pull-right' >TOTAL</td>
                  <td style='border:solid 1px'>@Model.montant</td>

              </tr>
          </table>
    <br />
          <center>
              <h2>MERCI DE VOTRE CONFIANCE !</h2>
          </center>
</body>
