@model IPagedList<Hotel.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/template.cshtml";
}

@using PagedList
@using PagedList.Mvc

@using System.Globalization;
@{
    CultureInfo french = new CultureInfo("fr-FR"); }








<style>
    .sub-entry {
        width: 50%;
        float: left;
    }

    .button {
        text-align: center;
        padding-top: 20px;
        clear: both;
    }
</style>

<h2 class="align-center">Réservations</h2>

<a href="@Url.Action("AddReservation","Reservation")" class="btn btn-primary pull-right ">Nouvelle réservation</a>

<br />
<hr />
@using (Html.BeginForm("Reservations", "Reservation", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{<div class="span3 ">

        <input type="text" name="kw" class="controls span12" placeholder="Chercher...">
    </div>
    <div class="span3 align-center ">
        <b>De </b>           @Html.TextBox("d1", "", new { @type = "date", @class = "controls datepicker span8 " })

    </div>
    <div class="span3  ">
        <b> Jusqu'a</b>
        @Html.TextBox("d2", "", new { @type = "date", @class = "controls  datepicker span8 " })
    </div>

    <div class="span3  ">

        <button type="submit" class="pull-right btn btn-success">Chercher</button>
    </div>
}
<hr />
<table class="datatable-1 table table-bordered table-striped  display dataTable ">
    <tr>
        <th>
            Nom Client
        </th>
        <th>
            Agence
        </th>
        <th>
            Nationnalité
        </th>
        <th>
            Check-in
        </th>
        <th>
            Check-out
        </th>

        <th>Montant</th>

        <th>Etat</th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.FirstOrDefault().nomC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nat)
            </td>
            <td>
                @{
                    var d = item.Arrivee.ToString("dd/MM/yyyy", french);
                }
                @Html.DisplayFor(modelItem => d)
            </td>
            <td>
                @{
                    var d1 = item.dft.ToString("dd/MM/yyyy", french);
                }
                @Html.DisplayFor(modelItem => d1)
            </td>
            <td>

                @Html.DisplayFor(modeltItel => item.montant)
            </td>
            @if (item.comfirmed)
            {

                <td>
                    <a class="confirm" style="color:green" href="@Url.Action("Confirmer","Reservation",new { id = item.id })">Confirmée</a>
                </td>
            }
            else
            {
                <td style="color:red">
                    Non confirmée
                </td>
            }

            <td>


                <a class="open-homeEvents" href="#" data-toggle="modal" data-target="#exampleModal" data-id="@item.id">
                    <i class="fa fa-history fa-fw"></i>Détailles
                </a> |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
            </td>

        </tr>
    }

</table>






@Html.PagedListPager(Model, i => Url.Action("Reservations", "Reservation", new { page = i, kw = ViewBag.kw, d1 = ViewBag.d1, d2 = ViewBag.d2 }),

new PagedListRenderOptions {
FunctionToTransformEachPageLink = (liTag, aTag) =>
{
aTag.Attributes.Add("class", "page-link");
liTag.InnerHtml = aTag.ToString();
return liTag;
},
LiElementClasses = new[] { "page-item" },
UlElementClasses = new[] { "pagination justify-content-center" } }
)







<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Détailles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">


                <div id="content"></div>
                <center><input type="text" name="tva" id="tva" placeholder="14.00" class="control-label span2"></center>
                <br />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>



<script>
    $(".confirm").click(function () {

        if (confirm("Voulez vous annuler cette réservation ?")) {
            return true;
        }
        else {
            return false;
        }
    });
</script>
<script>


    $(document).ready(function () {

        $(document).on('click', ".open-homeEvents", function () {
            var idres = $(this).data('id');
            console.log(idres);
            $.ajax({
                url: "/Reservation/Detailres/" + idres,
                type: 'GET',
                dataType: 'json', // added data type
                success: function (data) {
                    console.log(data[0]);
                    data = data[0];
                    if (data.Clients[0] != null) {
                        var c1 = data.Clients[0].nomC;
                    } else { var c1 = ""; }
                    if (data.Clients[1] != null) {
                        var c2 = data.Clients[1].nomC;
                    } else { var c2 = ""; }
                    if (data.Clients[2] != null) {
                        var c3 = data.Clients[2].nomC;
                    } else { var c3 = ""; }

                    var text = '<div class="sub-entry" >' +

                        ' <div class="control-group" > <label class="control-label "><b>Chambre numéro</b> </label> <div class="controls">' + data.chambre +
                        '</div> </div> <div class="control-group">' +
                        '<label class="control-label "><b>Type chambre:</b> </label><div class="controls">' + data.type + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Numéro de réçu </b></label><div class="controls">' + data.bons + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Montant Total</b></label><div class="controls">' + data.montant + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Montant Par nuit</b></label><div class="controls">' + data.montantpn + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Methode de paiement</b> </label><div class="controls">' + data.methpaie + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>devise</b> </label><div class="controls">' + data.devise + '</div></div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Agence</b> </label><div class="controls">' + data.agence + '</div></div>' +

                        '<div class="sub-entry">' +

                        '<div class="control-group"><label class="control-label "><b>Check-in</b></label><div class="controls">' + ToJavaScriptDate(data.Arrivee) + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Check-out</b></label><div class="controls">' + ToJavaScriptDate(data.dft) + '</div></div >' +

                        '<div class="control-group"><label class="control-label "><b>Nombre de nuit</b></label><div class="controls">' + data.nbnuit + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Nationnalité</b></label><div class="controls">' + data.nat + '</div> </div>' +

                        '<div class="control-group"><label class="control-label "><b>Nombre de personne</b></label><div class="controls">' + data.nombre + '</div></div>' +


                        '<div class="control-group"><label class="control-label "><b>Nom Client 1</b></label><div class="controls">' + c1 + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Nom Client 2</b></label><div class="controls">' + c2 + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Nom Client 3</b></label><div class="controls">' + c3 + '<br /><br /></div></div></div>' +

                        '<center><a class="btn btn-primary" id="facture" onclick="red(' + idres + ')" >Facture<a/></center><br/>';
                    $('#content').html(text);

                }
            });
        });


    });

    function red(idres) {

        window.location.href = "/Reservation/Facture/?id= " + idres + "&tva=" + $('#exampleModal #tva').val();

    }




    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }



</script>


<style>

    .pagination {
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem
    }

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6
    }

        .page-link:hover {
            z-index: 2;
            color: #0056b3;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6
        }

        .page-link:focus {
            z-index: 2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
        }

    .page-item:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

    .page-item:last-child .page-link {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #dee2e6
    }

    .pagination-lg .page-link {
        padding: .75rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.5
    }

    .pagination-lg .page-item:first-child .page-link {
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem
    }

    .pagination-lg .page-item:last-child .page-link {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem
    }

    .pagination-sm .page-link {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5
    }

    .pagination-sm .page-item:first-child .page-link {
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem
    }

    .pagination-sm .page-item:last-child .page-link {
        border-top-right-radius: .2rem;
        border-bottom-right-radius: .2rem
    }
</style>