@model IEnumerable<Hotel.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/templateEmp.cshtml";
}
@using System.Globalization;
@{
    CultureInfo french = new CultureInfo("fr-FR"); }

<style>
    .sub-entry {
        width: 50%;
        float: left;
    }

    .button {
        text-align: center;
        padding-top: 20px;
        clear: both;
    }
</style>

<h2 class="align-center">Réservations</h2>

<a href="@Url.Action("AddReservation","Reservation")" class="btn btn-primary pull-right ">Nouvelle réservation</a>

<br />
<hr />
@using (Html.BeginForm("Reservations", "Reservation", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{<div class="span3 ">

        <input type="text" name="kw" class="controls span12" placeholder="Chercher...">
    </div>
    <div class="span3 align-center ">
        <b>De </b>           @Html.TextBox("d1", "", new { @type = "date", @class = "controls datepicker span8 " })

    </div>
    <div class="span3  ">
        <b> Jusqu'a</b>
        @Html.TextBox("d2", "", new { @type = "date", @class = "controls  datepicker span8 " })
    </div>

    <div class="span3  ">

        <button type="submit" class="pull-right btn btn-success">Chercher</button>
    </div>
}
<hr />
<table class="datatable-1 table table-bordered table-striped  display dataTable ">
    <tr>
        <th>
            N° Chambre
        </th>
        <th>
            Agence
        </th>
        <th>
            Type
        </th>
        <th>
            Check-in
        </th>
        <th>
            Check-out
        </th>

        <th>Client</th>

        <th>Etat</th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.chambre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @{
                    var d = item.Arrivee.ToString("dd/MM/yyyy", french);
                }
                @Html.DisplayFor(modelItem => d)
            </td>
            <td>
                @{
                    var d1 = item.dft.ToString("dd/MM/yyyy", french);
                }
                @Html.DisplayFor(modelItem => d1)
            </td>
            <td>
                @{
                    var client = item.Clients.FirstOrDefault();
                }
                @Html.DisplayFor(m => client.nomC)
            </td>
            @if (item.comfirmed)
            {

                <td>
                    <a class="confirm" style="color:green" href="@Url.Action("Confirmer","Reservation",new { id = item.id })">Confirmée</a>
                </td>
            }
            else
            {
                <td style="color:red">
                    Non confirmée
                </td>
            }

            <td>


                <a class="open-homeEvents" href="#" data-toggle="modal" data-target="#exampleModal" data-id="@item.id">
                    <i class="fa fa-history fa-fw"></i>Détailles
                </a> |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
            </td>

        </tr>
    }

</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Détailles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">


                <div id="content"></div>
                <br />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>



<script>
    $(".confirm").click(function () {

        if (confirm("Voulez vous annuler cette réservation ?")) {
            return true;
        }
        else {
            return false;
        }
    });
</script>
<script>


    $(document).ready(function () {

        $(document).on('click', ".open-homeEvents", function () {
            var idres = $(this).data('id');
            console.log(idres);
            $.ajax({
                url: "/Reservation/Detailres/" + idres,
                type: 'GET',
                dataType: 'json', // added data type
                success: function (data) {
                    console.log(data[0]);
                    data = data[0];
                    if (data.Clients[0] != null) {
                        var c1 = data.Clients[0].nomC;
                    } else { var c1 = ""; }
                    if (data.Clients[1] != null) {
                        var c2 = data.Clients[1].nomC;
                    } else { var c2 = ""; }
                    if (data.Clients[2] != null) {
                        var c3 = data.Clients[2].nomC;
                    } else { var c3 = ""; }

                    var text = '<div class="sub-entry" >' +

                        ' <div class="control-group" > <label class="control-label "><b>Chambre numéro</b> </label> <div class="controls">' + data.chambre +
                        '</div> </div> <div class="control-group">' +
                        '<label class="control-label "><b>Type chambre:</b> </label><div class="controls">' + data.type + '</div></div>' +


                        '<div class="control-group"><label class="control-label "><b>Montant</b></label><div class="controls">' + data.montant + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Numéro de réçu </b></label><div class="controls">' + data.bons + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Methode de paiement</b> </label><div class="controls">' + data.methpaie + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>devise</b> </label><div class="controls">' + data.devise + '</div></div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Agence</b> </label><div class="controls">' + data.agence + '</div></div>' +

                        '<div class="sub-entry">' +

                        '<div class="control-group"><label class="control-label "><b>Check-in</b></label><div class="controls">' + ToJavaScriptDate(data.Arrivee) + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Check-out</b></label><div class="controls">' + ToJavaScriptDate(data.dft) + '</div></div >' +



                        '<div class="control-group"><label class="control-label "><b>Nationnalité</b></label><div class="controls">' + data.nat + '</div> </div>' +

                        '<div class="control-group"><label class="control-label "><b>Nombre de personne</b></label><div class="controls">' + data.nombre + '</div></div>' +


                        '<div class="control-group"><label class="control-label "><b>Nom Client 1</b></label><div class="controls">' + c1 + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Nom Client 2</b></label><div class="controls">' + c2 + '</div></div>' +

                        '<div class="control-group"><label class="control-label "><b>Nom Client 3</b></label><div class="controls">' + c3 + '<br /><br /></div></div></div>';

                    $('#content').html(text);

                }
            });
        });


    });


    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }



</script>

